body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

main {
    padding: 20px;
}

#search-results {
    text-align: left;
}

#search-results div {
    margin: 10px 0;
}

#pagination {
    margin-top: 20px;
}
